.column {
  width: 33%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #969696; 
}

.column:last-child {
  border-right: none;
  padding-right: 0;
}
.column:first-child {
  padding-left: 0;
}

.column h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #969696;
}

.tasks-container {
  flex-grow: 1;
  min-height: 300px;
}

.add-task-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #42506463;
  border: 1px dashed #969696;
  margin: 15px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
.add-task-btn:hover {
  background-color: #42506499;
}