.kanban-board {
  display: flex;
  justify-content: space-around;
  background-color: #3A3A3A; 
  padding: 20px;
  border-radius: 8px;
  border: 4px solid #969696; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}